<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
		xmlns:sfoa="http://typo3.org/ns/Evoweb/SfOauth/ViewHelpers"
		data-namespace-typo3-fluid="true">

<f:layout name="default" />

<f:section name="iconButtons"/>

<f:section name="content">

<div class="panel panel-space panel-default recordlist">
	<div class="panel-heading">
		&nbsp;
	</div>

	<div class="collapse in" id="recordlist-accounts" aria-expanded="true">
		<div class="table-fit">
			<table data-table="pages" class="table table-striped table-hover">
				<thead>
				<!-- Element, begin: -->
				<tr data-uid="0" data-l10nparent="0">
					<th nowrap="nowrap" class="col-icon">
						<f:format.raw>
							<sfoa:be.buttons.icon uri="{f:uri.action(action: 'new')}"
									iconKey="actions-document-new"
									title="{f:translate(key: 'new_account')}"/>
						</f:format.raw>
					</th>

					<th nowrap="nowrap" class="col-title col-responsive">
						<f:translate key="account_title"/>
					</th>
					<th nowrap="nowrap" class="col-control">&nbsp;</th>
					<th nowrap="nowrap" class="col-clipboard">
						<div class="btn-group" role="group"></div>
					</th>
				</tr>
				</thead>
				<tbody>
				<f:for each="{consumers}" as="consumer" iteration="iteration">
					<!-- Element, begin: -->
					<tr class="{f:if(condition: iteration.first, then: 'firstcol', else: '{f:if(condition: iteration.last, then: \'lastcol\', else: \'\')}')}"
							data-uid="{consumer.uid}">
						<td nowrap="nowrap" class="col-icon">
							<a href="#" data-table="account" data-uid="{consumer.uid}">
							<span data-toggle="tooltip" data-title=" id={consumer.uid}" data-html="true" data-placement="right">
								<span
										class="t3js-icon icon icon-size-small icon-state-default icon-apps-pagetree-folder-contains-commerce"
										data-identifier="apps-pagetree-folder-contains-commerce">
									<span class="icon-markup">
										<img src="/typo3conf/ext/commerce/Resources/Public/Icons/Table/folder.gif" width="16" height="16">
									</span>
								</span>
							</span>
							</a>
						</td>

						<td nowrap="nowrap" class="col-title col-responsive">{consumer.title}</td>

						<td nowrap="nowrap" class="col-control"><!-- CONTROL PANEL: pages:1 -->
							<div class="btn-group" role="group">
								<f:format.raw>
									<sfoa:be.buttons.icon
										uri="{f:uri.action(action: 'edit', arguments:{consumer: consumer.uid})}"
										iconKey="actions-open" title="{f:translate(key: 'edit')} '{consumer.title}'"
										class="btn btn-default"/>
									<sfoa:be.buttons.icon
										uri="{f:uri.action(action: 'delete', arguments:{consumer: consumer.uid})}"
										iconKey="actions-delete" title="{f:translate(key: 'delete')} '{consumer.title}'"
										class="btn btn-default"/>
								</f:format.raw>
							</div>
						</td>
						<td nowrap="nowrap" class="col-clipboard"><!-- CLIPBOARD PANEL: pages:1 -->
							<div class="btn-group" role="group">
							</div>
						</td>
					</tr>
				</f:for>
				</tbody>
			</table>
		</div>
	</div>
</div>

</f:section>

</html>
