<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
		xmlns:sfoa="http://typo3.org/ns/Evoweb/SfOauth/ViewHelpers"
		data-namespace-typo3-fluid="true">

<f:layout name="default" />

<f:section name="iconButtons">
	<sfoa:be.buttons.icon uri="{f:uri.action(action: 'index')}" iconKey="closedok" title="{f:translate(key: 'cancel')}" />
	<sfoa:be.buttons.icon uri="javascript: document.newConsumer.submit();" iconKey="saveandclosedok" title="{f:translate(key: 'save')}" />
</f:section>

<f:section name="content">

<f:render partial="formErrors" arguments="{for: 'newConsumer'}" />

<f:form method="post" controller="Consumer" action="create" name="newConsumer" object="{newConsumer}">
	<table border="0" cellspacing="0" cellpadding="0" width="100%" class="typo3-TCEforms">
		<tr><td>
			<table border="0" cellspacing="0" cellpadding="0" width="100%" class="wrapperTable1">

		<tr class="class-main12">
			<td><f:be.buttons.csh field="consumer_title"/></td>
			<td width="99%"><span class="class-main14"><strong><f:translate key="consumer_title"/></strong></span></td>
		</tr>
		<tr class="class-main11">
			<td nowrap="nowrap"></td>
			<td valign="top">
				<f:form.textfield property="title" size="60" />
			</td>
		</tr>

		<tr class="class-main12">
			<td><f:be.buttons.csh field="consumer_key"/></td>
			<td width="99%"><span class="class-main14"><strong><f:translate key="consumer_key"/></strong></span></td>
		</tr>
		<tr class="class-main11">
			<td nowrap="nowrap"></td>
			<td valign="top">
				<f:form.textfield property="key" size="60" />
			</td>
		</tr>

		<tr class="class-main12">
			<td><f:be.buttons.csh field="consumer_secret"/></td>
			<td width="99%"><span class="class-main14"><strong><f:translate key="consumer_secret"/></strong></span></td>
		</tr>
		<tr class="class-main11">
			<td nowrap="nowrap"></td>
			<td valign="top">
				<f:form.textfield property="secret" size="60" />
			</td>
		</tr>

		<tr class="class-main12">
			<td><f:be.buttons.csh field="consumer_requesturl"/></td>
			<td width="99%"><span class="class-main14"><strong><f:translate key="consumer_requesturl"/></strong></span></td>
		</tr>
		<tr class="class-main11">
			<td nowrap="nowrap"></td>
			<td valign="top">
				<f:form.textfield property="requestUrl" size="60" />
			</td>
		</tr>

		<tr class="class-main12">
			<td><f:be.buttons.csh field="consumer_accessurl"/></td>
			<td width="99%"><span class="class-main14"><strong><f:translate key="consumer_accessurl"/></strong></span></td>
		</tr>
		<tr class="class-main11">
			<td nowrap="nowrap"></td>
			<td valign="top">
				<f:form.textfield property="accessUrl" size="60" />
			</td>
		</tr>

		<tr class="class-main12">
			<td><f:be.buttons.csh field="consumer_authorizeurl"/></td>
			<td width="99%"><span class="class-main14"><strong><f:translate key="consumer_authorizeurl"/></strong></span></td>
		</tr>
		<tr class="class-main11">
			<td nowrap="nowrap"></td>
			<td valign="top">
				<f:form.textfield property="authorizeUrl" size="60" />
			</td>
		</tr>

		<tr class="class-main12">
			<td><f:be.buttons.csh field="consumer_authenticateurl"/></td>
			<td width="99%"><span class="class-main14"><strong><f:translate key="consumer_authenticateurl"/></strong></span></td>
		</tr>
		<tr class="class-main11">
			<td nowrap="nowrap"></td>
			<td valign="top">
				<f:form.textfield property="authenticateUrl" size="60" />
			</td>
		</tr>

		<tr class="class-main12">
			<td><f:be.buttons.csh field="consumer_apiurl"/></td>
			<td width="99%"><span class="class-main14"><strong><f:translate key="consumer_apiurl"/></strong></span></td>
		</tr>
		<tr class="class-main11">
			<td nowrap="nowrap"></td>
			<td valign="top">
				<f:form.textfield property="apiUrl" size="60" />
			</td>
		</tr>

			</table>
		</td></tr>
	</table>
</f:form>

</f:section>

</html>
